<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="busca"
      id="nome"
      name="nome"
      placeholder="Pesquisa por Nome:"
    />
  </div>
  <button type="submit" (click)="consultarUser()" class="btn btn-primary mb-2">
    Buscar
  </button>
  <button
    type="button"
    [routerLink]="['/usuarioAdd']"
    style="margin-left: 5px"
    class="btn btn-success mb-2"
  >
    Novo
  </button>
</form>
<div class="form-row mx-sm-3">
  <table class="table table-bordered table-hover table-striped table-sortable">
    <thead class="thead-dark">
      <th width="10%" scope="col">Id</th>
      <th width="30%" scope="col">Nome</th>
      <th width="10%" scope="col">Cpf</th>
      <th width="30%" scope="col">Bairro</th>
      <th width="5%"></th>
      <th width="5%"></th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let student of students
            | paginate : { itemsPerPage: 5, currentPage, totalItems }
        "
      >
        <td>{{ student.id }}</td>
        <td>{{ student.nome }}</td>
        <td>{{ student.cpf }}</td>
        <td>{{ student.bairro }}</td>
        <td class="text-center align-middle">
          <button
            (click)="deleteUsuario(student.id)"
            class="btn btn-outline-danger"
          >
            Delete
          </button>
        </td>
        <td class="text-center align-middle">
          <button
            [routerLink]="['/usuarioAdd', student.id]"
            class="btn btn-outline-warning"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center">
  <!-- (pageChange)="carregarPagina(currentPage = $event);" -->
  <pagination-controls
    [responsive]="true"
    (pageChange)="listar((currentPage = $event))"
    previousLabel="Anterior"
    nextLabel="Proximo"
    containerClass="pagination"
  ></pagination-controls>
</div>
