<h3 style="padding: 10px">Tela de usuario</h3>
<form style="padding: 10px" #formValidate="ngForm">
  <div class="form-row">
    <div class="form group col-md-12">
      <label for="id">Id</label>
      <input
        type="text"
        [(ngModel)]="usuario.id"
        class="form-control"
        id="id"
        name="Id"
        readonly="true"
        autocomplete="false"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="nome">Nome</label>
      <span style="color: red; font-size: 23px" *ngIf="nomeValidate.invalid"
        >*</span
      >
      <input
        type="text"
        [(ngModel)]="usuario.nome"
        #nomeValidate="ngModel"
        class="form-control"
        id="nome"
        required="true"
        name="nome"
        autocomplete="false"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">Email ou Login</label>
      <span style="color: red; font-size: 23px" *ngIf="loginValidate.invalid"
        >*</span
      >
      <input
        type="text"
        [(ngModel)]="usuario.login"
        #loginValidate="ngModel"
        class="form-control"
        id="login"
        name="login"
        required="true"
        autocomplete="false"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="login">Senha</label>
      <span style="color: red; font-size: 23px" *ngIf="senhaValidate.invalid"
        >*</span
      >
      <input
        type="password"
        [(ngModel)]="usuario.senha"
        #senhaValidate="ngModel"
        class="form-control"
        id="senha"
        name="senha"
        required="true"
        autocomplete="false"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-grop col-md-3">
      <label for="cpf">CPF</label>
      <span style="color: red; font-size: 23px" *ngIf="cpfValidate.invalid"
        >*</span
      >
      <input
        type="text"
        mask="000.000.000-00"
        [(ngModel)]="usuario.cpf"
        #cpfValidate="ngModel"
        class="form-control"
        id="cpf"
        name="cpf"
        required="true"
        autocomplete="false"
      />
    </div>
  </div>
  <br />
  <div class="card text-center">
    <div class="card-hedader">Telefone Contato</div>
    <div class="card-body" style="padding-left: 1px">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input
            type="text"
            mask="(00) 0 0000-0000"
            class="form-control"
            [(ngModel)]="telefone.numero"
            id="numero"
            name="numero"
          />
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-primary" (click)="adicionarTelefone()">
            Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-grop col-md-12">
      <table class="table">
        <tbody>
          <tr *ngFor="let fone of listasTelefones">
            <td>{{ fone.id }}</td>
            <td>
              {{
                fone.numero.toString()
                  | mask : "00 0000 0000" || "00 00000 0000"
              }}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="deleteTelefone(fone.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-row mt-3">
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-danger" (click)="voltar()">
        Voltar
      </button>
      <button type="button" class="btn btn-primary ml-1" (click)="novo()">
        Novo
      </button>
      <button
        type="button"
        class="btn btn-secondary ml-1"
        [disabled]="formValidate.invalid"
        (click)="salvaUser()"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
